<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Preventivo APE Milano</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

<header>
    <div class="logo">
    <img src="/images/logo.png" alt="APE Milano" />
    </div>
    <div class="title">
    <span class="strong"> ATTESTATO PRESTAZIONE ENERGETICA </span>
    <span class="dash"> - </span>
    <span class="light"> MILANO E HINTERLAND </span>
    </div>
</header>

<div class="separator"></div>

<main class="summary">

<!-- 1. PREVENTIVO -->
<section class="card highlight">
  <h2>IL TUO PREVENTIVO</h2>
  <div class="icon-box">
    <img src="/images/icon-star.png" alt="star" class="big-icon" />
  </div>
  <div class="price">
    <span class="big">149€</span>
    <span class="small-text">IVA inclusa</span>
  </div>
  <div class="divider"></div>
  <div class="checklist">
    <div class="check-item">
      <img src="/images/icon-check.png" alt="check" />
      <p class="muted">Sopralluogo</p>
    </div>
    <div class="check-item">
      <img src="/images/icon-check.png" alt="check" />
      <p class="muted">Certificazione</p>
    </div>
    <div class="check-item">
      <img src="/images/icon-check.png" alt="check" />
      <p class="muted">Deposito pratica</p>
    </div>
  </div>
</section>

  <!-- 2. RIEPILOGO COMPLETO -->
  <section class="card wide">
    <h2>RIEPILOGO DATI</h2>
    <div class="subgrid">
      <div class="mini-card">
        <div class="row">
          <img src="/images/icon-apartment.png" />
          <div>
            <p>Appartamento • 85mq</p>
            <p class="muted">Via Roma, Milano, 20125</p>
            <p class="muted">Scala I, interno 60</p>
          </div>
        </div>
      </div>
      <div class="mini-card">
        <div class="row">
          <img src="/images/icon-data.png" />
          <div>
            <p>Anno di costruzione: 1998</p>
            <p class="muted">Riscaldamento: Autonomo</p>
            <p class="muted">Cappotto termico: Sì</p>
          </div>
        </div>
      </div>
      <div class="mini-card">
        <div class="row">
          <img src="/images/icon-calendar.png" />
          <div>
            <p>Lunedì 10 luglio</p>
            <p class="muted">18:30</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 3. AZIONI -->
  <section class="card">

    <h2>PROSEGUI</h2>

    <button class="secondary" onclick="window.location.href='/'">
      MODIFICA DATI
    </button>

    <div class="divider"></div>

    <label>Email</label>
    <input type="email" placeholder="inserisci la tua email" required />

    <button class="primary">AVVIA PRATICA</button>

  </section>

</main>

</body>
</html>